# Задание1

In [ ]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [6]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [10]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
y = pd.DataFrame(target, columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=30, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lr = LinearRegression()

In [16]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
y_pred = lr.predict(X_test)

In [20]:
check_test = pd.DataFrame(
{
    'y_test': y_test.price,
    'y_pred': y_pred.flatten(),
    'dif': np.abs(y_test.price - y_pred.flatten())
})
check_test.head(10)

     y_test     y_pred       dif
173    23.6  29.215292  5.615292
274    32.4  36.303398  3.903398
491    13.6  14.031286  0.431286
72     22.8  24.761689  1.961689
452    16.1  18.722231  2.622231
76     20.0  23.169583  3.169583
316    17.8  17.647975  0.152025
140    14.0  13.609045  0.390955
471    19.6  23.349355  3.749355
500    16.8  20.568304  3.768304

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score?

In [23]:
r2_score(y_test.price, y_pred)

0.7649182587713598

# Задание 2

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
RandomForestRegressor?

In [26]:
regr = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [29]:
regr.fit(X_train, y_train.price)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [30]:
y_pred = regr.predict(X_test)

In [31]:
r2_score(y_test, y_pred)

0.9345029264570873

По метрике R2 качество модели RandomForestRegressor выше чем LinearRegressor

# Задание 3

In [34]:
feature_imp_df = pd.DataFrame(
{
    'feature_name': feature_names,
    'importance': regr.feature_importances_
})
feature_imp_df

   feature_name  importance
0          CRIM    0.036081
1            ZN    0.000955
2         INDUS    0.006435
3          CHAS    0.000722
4           NOX    0.022314
5            RM    0.432563
6           AGE    0.013357
7           DIS    0.068629
8           RAD    0.003919
9           TAX    0.015308
10      PTRATIO    0.017009
11            B    0.012094
12        LSTAT    0.370612

In [35]:
feature_imp_df.importance.sum()

1.0000000000000009

In [40]:
feature_imp_df.sort_values(by='importance', ascending=False).head(2)

   feature_name  importance
5            RM    0.432563
12        LSTAT    0.370612